<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newmini">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewMini">
        <activity
            android:name=".aptitude"
            android:exported="false" />
        <activity
            android:name=".Os_Activity"
            android:exported="false" />
        <activity
            android:name=".CnActivity"
            android:exported="false" />
        <activity
            android:name=".DbmsActivity"
            android:exported="false" />
        <activity
            android:name=".Dsa_Activity"
            android:exported="false" />
        <activity
            android:name=".prepration"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addPost"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".postActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            android:theme="@style/Theme.Design.Light.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>